*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(90deg, #0c0c0c, #002f2f);
    color: white;
}

.navbar{
    display: flex;
    text-align: right;
    padding: 0.5vw;
    background-image: linear-gradient(90deg, #0c0c0c, #002f2f);
    position: relative;
    top: 0.2vw;
    gap: 3vw;
    display: flex;
    color: whitesmoke;
}

.img{
    width: 1.5vw;
    height: 2vw;
    position: relative;
    left: 3.5vw;
}

#sign-in{
    background-color: #14d39e;
    border: none;
    color: black;
    padding: 0.3vw;
    font-size: 1vw;
    border-radius: 0.4vw;
}

.element{
    color: white;
    position: relative;
    top: 0.5vw;
    left: 40vw;
    text-decoration: none;
}

#span{
    font-size: 1.3vw;
    position: relative;
    left: 1vw;
    top: 0.5vw;
}

.bootcamp-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.text-content{
    max-width: 50%;
}

.text-content h2{
    font-size: 30px;
    margin-bottom: 2px;
}

.text-content p{
    font-size: 40px;
    margin-bottom: 1.5rem;
    color: white;
}

.price{
    font-size: 1.5rem;
    color: #1dd2af;
    font-weight: bold;
}

.price small{
    font-size: 0.9rem;
    color: white;                                        
}

.seats-full{
    background-color: #1dd2af;
    color: #000;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 5px;
}